* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.col-org{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 18px 35px;
    cursor: pointer;
}


/* Main Style */

header {
  background-color: #fff8f3;
  background: url("./images/developer.png"), url("./images/header_bg.png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: 50px 38px, bottom right;
  padding-top: 2%;
}

nav {
  width: 71%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2{
    font-size: 50px;
    font-weight: 900;
}


nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav .menu a{
    text-decoration: none;
    font-size: 25px;
    color: #474747;
}


#banner{
    margin: 47px 3.5% 0 14.5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#banner .banner-content{
    max-width: 885px;
}


#banner .banner-content h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #474747;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: 900;
    margin-bottom: 25px;
}

#banner .banner-content p{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 45px;
    color: #757575;
}

#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

.btns{
    display: flex;
    gap: 20px;
}